*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    gap: 10px;
    background-image: url("https://th.bing.com/th/id/R.7a173bcaff83f2ec4113b01cb9619b01?rik=9DhJHkKowz%2bp%2fw&pid=ImgRaw&r=0");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }
header img {
    width: 200px; 
    border-radius: 50% 
    }

header h1 {
    font-size: xx-large; 
    color: lavender;
    font-family: "Crimson Pro", serif;
    }

nav{
    position: sticky;
    background-color: lavender;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    width: 100%;

   
    }
nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
nav ul li a { 
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    background-color: lavenderblush;
    transition: background-color 1s ease;
  
}

main {
    padding: 100px;
    height: 100%;
    background-color: lavenderblush;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
main img{
    width: 600px;
    height: 400px;
}

main h3 {
    color: lavender;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
    font-family: "Crimson Pro", serif;
}


footer {
    padding: 20px;
    background-color: lavender;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 20px;
    
        
        
        
    }
footer a img {
    height: 100%;
    width: 40px;
    }
    
    @media (max-width: 768px) {
        header {
            flex-direction: column;
            gap: 20px;
        }
        header img {
            width: 120px;
        }
        header h3 {
            font-size: large;
        }
        
        nav ul li {
            width: 100%;
            
        }
        nav ul li a {
            font-size: large;
        }
        main {
            flex-direction: column;
            padding: 30px;
            height: auto;
        }
        main img {
            width: 100%;
            height: auto;
        }
    }
    
    @media (max-width: 480px) {
        header {
            padding: 10px;
            gap: 10px;
        }
        header img {
            width: 100px;
        }
        header h3 {
            font-size: medium;
        }
        nav ul li a {
            font-size: medium;
        }
        main {
            height: auto;
            padding: 20px;
        }
        main img {
            width: 100%;
            height: auto;
        }
        main section p {
            font-size: medium;
        }
        footer {
            height: auto;
            padding: 35px;
            gap: 10px;
        }
        footer a img {
            width: 40px;
        }
    }
    @media (max-width: 320px) {
        main{
            padding: 50px;
        }

    }
        